.App {
    margin-bottom: 0px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: "Public Sans";
    src: url("/assets/fonts/PublicSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Public Sans";
    src: url("/assets/fonts/PublicSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Public Sans Text";
    src: url("/assets/fonts/PublicSans-Regular.ttf");
    font-weight: normal;
}
